


.navbar-default {
        background-color:white;
        color: #01579B;
        background-image: none;
        font-family: 'Josefin Sans', sans-serif;
        /*font-family: 'Raleway', sans-serif;*/
    }

/*.navbar-default .navbar-header {
    font-family: 'Josefin Sans', sans-serif;
    color: grey;
    font-style: italic;
    text-align: left;
}*/

/*.navbar-nav {
    
    width: 100%;
    text-align: center;
    vertical-align: center;
    position: absolute;
    left: 0;
    margin:0 auto;
}*/

navbar-default .navbar-nav > li {
    display: table;
    line-height: 150px;
    /*float: initial;*/
    position: absolute;
    width: 100%;
    /*left: 0;*/
    text-align: center;
    vertical-align: middle;
    margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #8a0e0b;
 }
 